<section class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-6 p-0 audi d-flex justify-content-start align-items-center">
            <img src="assets/imgs/Audi 1.png" class="w-75" alt="">
        </div>
    
    
        <div class="col-md-6 p-0 d-flex flex-column align-items-start justify-content-center">
            
            <!-- section title -->
                <div class="sect-title align-items-start mb-5">
                    <div class="title-border bgRC-secondary ">
                        <h2 class="title-text">Why Choose Us</h2>
                    </div>
                    <p class="title-desc text-start ">We offer the best experience with our rental deals</p>
                </div>
            <!-- section title -->

            <!-- advantages -->
            <div class="rwo flex-column justify-content-start  w-100">

                <figure class="w-100 d-flex justify-content-start align-items-start gap-3">
                    <img src="assets/imgs/Frame 35.png" alt="">
                    <figcaption>
                        <h5>Best price guaranteed</h5>
                        <p class="text-secondary">Find a lower price? We’ll refund you 100%
                            of the difference.</p>
                    </figcaption>
                </figure>
              
                <figure class="w-100 d-flex justify-content-start align-items-start gap-3">
                    <img src="assets/imgs/icon_person.png" alt="">
                    <figcaption>
                        <h5>Experience driver</h5>
                        <p class="text-secondary">Don’t have driver? Don’t worry, we have many
                            experienced driver for you.</p>
                    </figcaption>
                </figure>
              
                <figure class="w-100 d-flex justify-content-start align-items-start gap-3">
                    <img src="assets/imgs/icon_24.png" alt="">
                    <figcaption>
                        <h5>24 hour car delivery</h5>
                        <p class="text-secondary">Book your car anytime and we will deliver it
                            directly to you.</p>
                    </figcaption>
                </figure>
              
                <figure class="w-100 d-flex justify-content-start align-items-start gap-3">
                    <img src="assets/imgs/icon_chat.png" alt="">
                    <figcaption>
                        <h5>24/7 technical support</h5>
                        <p class="text-secondary">Have a question? Contact Rentcars support
                            any time when you have problem.</p>
                    </figcaption>
                </figure>
              
            </div>
            <!-- advantages -->
        </div>
    </div>
    </section>