<nav class="navbar navbar-expand-lg bg-lg-body-tertiary position-fixed w-100">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/imgs/Frame 993.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" (click)="collapse.toggle()" aria-expanded="#navbarSupportedContent" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <ul class="navbar-nav  mb-2 mb-lg-0 w-75 d-flex justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex justify-content-end" role="search">
          <button class="btn btn-primary-regular">Sign In</button>
          <button class="btn btn-primary-regular bgRC-primary">Sign Up</button>
        </form>
      </div>
    </div>
  </nav>
<header class="container-fluid pt-5">
<div class="row pt-5 hero">
  <div class="col-md-6 hero-left d-flex flex-column align-items-center justify-content-start">
    <figure>
      <img src="assets/imgs/Find, book and rent a car Easily.png" alt="">
    </figure>
    <p >Get a car wherever and whenever you need it with your IOS and Android device</p>
    <figure>
      <img src="assets/imgs/Frame 2.png" alt="">
    </figure>
  </div>
  <div class="col-md-6 hero-right p-0">
      <img src="assets/imgs/car 2 1.png" class="w-100" alt="">
  </div>
</div>
</header>
  <!-- <figure class="bg-logo">
    <img src="assets/imgs/Group.png" alt="">
  </figure> -->