
.hero{
    margin-top: 50px;
    
    
    &-left{
        margin-top: 60px;
        p{
            width: 390px;
            font-style: 18px;
        }
    }
}

@media screen and (max-width:768px) {
    
    .bg-lg-body-tertiary{
        background-color: #eee;
    }
}
