<section class="container-fluid mb-5">
    <div class="row justify-content-center">



        <!-- section title -->
        <div class="col-12 d-flex justify-content-center mb-5">
            <div class="sect-title ">
                <div class="title-border bgRC-secondary">
                    <h2 class="title-text">How It Works</h2>
                </div>
                <p class="title-desc">Rent with following 3 working steps</p>
            </div>
        </div>
        <!-- section title -->

        <!-- steps -->
        <div class="col-md-7 steps mb-5">
            <div class="row justify-content-center">
                <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <figure>
                        <img src="assets/imgs/icon3.png" alt="">
                    </figure>
                    <p>Choose location</p>
                    <p class="text-secondary text-center">Choose your and find
                        your best car</p>
                </div>

                <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <figure>
                        <img src="assets/imgs/icon2.png" alt="">
                    </figure>

                    <p>Pick-up date</p>
                    <p class="text-secondary text-center">Select your pick up date and
                        time to book your car</p>
                </div>

                <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <figure>
                        <img src="assets/imgs/icon1.png" alt="">
                    </figure>
                    <p>Book your car</p>
                    <p class="text-secondary text-center">Book your car and we will deliver
                        it directly to you  </p>
                </div>

            </div>
        </div>
        <!-- steps -->


        <!-- cars logos -->
        <div class="col-12">
            <figure>
                <img class="w-100" src="assets/imgs/Frame 29.png" alt="">
            </figure>
        </div>
        <!-- cars logos -->


    </div>
</section>