<section class="container-fluid">
    <div class="row">
            <div class="col-md-6 hero-left d-flex flex-column align-items-center justify-content-center">
                <figure>
                    <img src="assets/imgs/Download Rentcars App for FREE.png" class="w-100" alt="">
                </figure>
                <p class="">For faster, easier booking and exclusive deals.</p>
                <figure>
                    <img src="assets/imgs/Frame 2.png" alt="">
                </figure>
                <form class="download-form mb-4">
                    <input type="text" class="form-control mb-3 app-input" placeholder="Name" name="" id="">
                    <input type="text" class="form-control mb-3 app-input" placeholder="Phone Number" name="" id="">
                    <input type="text" class="form-control mb-3 app-input" placeholder="Email" name="" id="">
                    <div class="text-center">
                        <button class="btn bgRC-primary btn-primary-lagre"><strong>Send</strong></button>
                    </div>
                </form>
            </div>

        <div class="col-md-6 hero-right p-0 i-phone d-flex">
            <img src="assets/imgs/iPhone 14 Pro Space Black Mockup.png" class="w-100" alt="">
        </div>

    </div>
</section>