<div class="container-fluid mb-5">
    <div class="row justify-content-center">
        <div class="col-12">

            <owl-carousel-o [options]="customOptions" class="row justify-content-around">


                <ng-template carouselSlide [id]="'1'">
                    <div class="card flex-row  d-flex me-5">
                        <img class="card-img-top w-25" src="assets/imgs/Rectangle 8.png" alt="Card image"
                            >
                        <div class="card-body">
                            <h3 class="card-title">5.0 <sub class="text-secondary">stars</sub></h3>
                            <div class="stars d-flex">
                                <fa-icon [icon]="star" class="text-warning me-2" />
                                <fa-icon [icon]="star" class="text-warning me-2" />
                                <fa-icon [icon]="star" class="text-warning me-2" />
                                <fa-icon [icon]="star" class="text-warning me-2" />
                                <fa-icon [icon]="star" class="text-warning me-2" />
                            </div>

                            <p class="card-text">“I feel very secure when using caretall's services. Your customer care
                                team is very enthusiastic and the driver is always on time.”</p>
                            <strong class="d-block">Charlie Johnson</strong>
                            <sub class="text-secondary">From New York, US</sub>
                        </div>
                    </div>
                </ng-template>

                <ng-template carouselSlide [id]="'1'">
                    <div class="card flex-row  d-flex me-5">
                        <img class="card-img-top w-25" src="assets/imgs/Rectangle 8.png" alt="Card image"
                            >
                        <div class="card-body">
                            <h3 class="card-title">5.0 <sub class="text-secondary">stars</sub></h3>
                            <div class="stars d-flex">
                                <fa-icon [icon]="star" class="text-warning me-2" />
                                <fa-icon [icon]="star" class="text-warning me-2" />
                                <fa-icon [icon]="star" class="text-warning me-2" />
                                <fa-icon [icon]="star" class="text-warning me-2" />
                                <fa-icon [icon]="star" class="text-warning me-2" />
                            </div>

                            <p class="card-text">“I feel very secure when using caretall's services. Your customer care
                                team is very enthusiastic and the driver is always on time.”</p>
                            <strong class="d-block">Charlie Johnson</strong>
                            <sub class="text-secondary">From New York, US</sub>
                        </div>
                    </div>
                </ng-template>

                <ng-template carouselSlide [id]="'1'">
                    <div class="card flex-row  d-flex me-5">
                        <img class="card-img-top w-25" src="assets/imgs/Rectangle 8.png" alt="Card image"
                            >
                        <div class="card-body">
                            <h3 class="card-title">5.0 <sub class="text-secondary">stars</sub></h3>
                            <div class="stars d-flex">
                                <fa-icon [icon]="star" class="text-warning me-2" />
                                <fa-icon [icon]="star" class="text-warning me-2" />
                                <fa-icon [icon]="star" class="text-warning me-2" />
                                <fa-icon [icon]="star" class="text-warning me-2" />
                                <fa-icon [icon]="star" class="text-warning me-2" />
                            </div>

                            <p class="card-text">“I feel very secure when using caretall's services. Your customer care
                                team is very enthusiastic and the driver is always on time.”</p>
                            <strong class="d-block">Charlie Johnson</strong>
                            <sub class="text-secondary">From New York, US</sub>
                        </div>
                    </div>
                </ng-template>


            </owl-carousel-o>
        </div>
    </div>
</div>