<section class="container-fluid">
    <div class="row">
            <!-- section title -->
    <div class="col-12 d-flex justify-content-center mb-5">
        <div class="sect-title ">
            <div class="title-border bgRC-secondary">
                <h2 class="title-text">POPULAR RENTAL DEALS</h2>
            </div>
            <p class="title-desc">Most popular cars rental deals</p>
        </div>
    </div>
    <!-- section title -->

        <!-- cars card -->
        <div class="container  mb-5">
            <div class="row justify-content-center">
                

                @for (car of carsList()|slice: (page-1) * pageSize : page * pageSize; track $index ) {

                    <div class="col-md-4 mb-3">
                        <app-car-card [carProps]="car"/>
                    </div>
                }
                <div class="d-flex justify-content-center">
                    <ngb-pagination [collectionSize]="totalCars" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" />
                </div>
               

            </div>
        </div>
        <!-- cars card -->
    </div>
</section>