<footer>


    <section class="container ">
        <div class="row  footer-wrapper p-4">
            <div class="col">
                <figure>
                    <img src="assets/imgs/icon_white.png" alt="">
                </figure>

                <figure>
                    <img src="assets/imgs/Frame 1004.png" alt="">
                </figure>

                <figure>
                    <img src="assets/imgs/Frame 1002.png" alt="">
                </figure>

                <figure>
                    <img src="assets/imgs/Frame 1003.png" alt="">
                </figure>


            </div>

            <div class="col">
                <strong class="d-flex mb-4 text-light">Our Product</strong>
               <p class="m-0 p-0 text-light "> Career</p>
               <p class="m-0 p-0 text-light "> Car</p>
               <p class="m-0 p-0 text-light "> Packages</p>
               <p class="m-0 p-0 text-light "> Features</p>
               <p class="m-0 p-0 text-light "> Priceline</p>
            </div>
           
           
            <div class="col">
                <strong class="d-flex mb-4 text-light">Resources</strong>
               <p class="text-light mb-0 p-0"> Download</p>
               <p class="text-light mb-0 p-0"> Help Centre</p>
               <p class="text-light mb-0 p-0"> Guides</p>
               <p class="text-light mb-0 p-0"> Partner Network</p>
               <p class="text-light mb-0 p-0"> Cruises</p>
               <p class="text-light mb-0 p-0"> Developer</p>
            </div>
           
            <div class="col">
                <strong class="d-flex mb-4 text-light">About Rentcars</strong>
               <p class="text-light mb-0 p-0"> Why choose us</p>
               <p class="text-light mb-0 p-0"> Our Story</p>
               <p class="text-light mb-0 p-0"> Investor Relations</p>
               <p class="text-light mb-0 p-0"> Press Center</p>
               <p class="text-light mb-0 p-0"> Advertise</p>
            </div>
           
            <div class="col">
                <strong class="d-flex mb-4 text-light">Follow Us</strong>
                <figure>
                    <img src="assets/imgs/Frame 1000.png" alt="">
                </figure>
            </div>
        </div>
        <p class="text-light pt-4 m-0">Copyright 2023 ・ Rentcars, All Rights Reserved</p>
    </section>


</footer>